.container.testmonials__container{
    width: 40%;
    padding-bottom:4rem  ;
}
.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);

}
.client__avatar img{
    object-fit: cover;
    height: 50px;
    width: 50px;
}
.swiper-pagination-bullet-clickable .swiper-pagination-bullet{
background: var(--color-primary);
}
.testmonial{
    background: var(--color-bg-variant);
    width: 20%;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;

}
.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}



@media screen and (max-width:1024px){
    .container.testimonial__container{
        width: 60%;
    }
  
 }
 
 
 /* ++++++++++MediaQuery Smaller Devices+++++++++++ */
 @media screen and (max-width:650px){
  .container.testimonial__container{
    width: var(--container-width-sm);
  }
  .client__review{
    width: var(--container-width-sm);
  }
 
 }